
.Main {
  margin: 5px;
  padding: 10px;
  border: 1px solid lightgrey;
  transition: max-height 0.5s ease-in;

  .Banner {
    width: 100%;
    height: 76px;
    text-align: center;
    background-color: azure;
    border: 1px solid skyblue;
    border-radius: 3px;
    vertical-align: center;
    padding-top: 10px;

    .head {
      font-weight: bold;
      font-size: 1.2em;
    }
    .subhead {
      margin-top: 8px;
      font-size: 0.85em;
      font-weight: normal;
    }
  }

  .controls {
    text-align: center;
    margin: auto;

    div {
      margin: 8px;
      .chip, button {
        background-color: skyblue;
      }
    }
  }
}
